<div class="footer-override">
  <div class="row">
    <div class="col-sm-6 footer-left">
      <div class="row">
        <div class="col-sm-6">
          <h4><a href="/">LuvWhiskey</a></h4>
        </div>
        <div class="col-sm-6">
          <p>This site was brought to you by Anish Vadher and GA<p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 footer-right">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/whiskeys">Whiskeys</a></li>
        <li><a href="/whiskeys?brand=Glenmorangie">Recommended</a></li>
      </ul>
    </div>
  </div>
</div>
