<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The home of Whiskey</h1>
    <p class="lead">LuvWhiskey is a user based Whiskey app to help you find your ideal Whiskey!</p>
  </div>
  <div class="overlay">
  </div>
</div>
