<form method="POST" action="/whiskeys">
  <div class="form-group">
    <label for="image">URL of Image</label>
    <input type="text" class="form-control" id="image" placeholder="e.g. https://img.name ofwebsite.com/000/imagename.jpg">
  </div>
  <div class="form-group">
    <label for="origin">Origin</label>
    <input type="text" class="form-control" id="origin" placeholder="e.g. Scotland, America, Japan etc.">
  </div>
  <div class="form-group">
    <label for="type">Type of Whiskey</label>
    <input type="text" class="form-control" id="type" placeholder="Single Malt Scotch Whiskey, Tennessee Whiskey etc.">
  </div>
  <div class="form-group">
    <label for="brand">Brand of Whiskey</label>
    <input type="text" class="form-control" id="brand" placeholder="Dalmore, Jack Daniel's etc.">
  </div>
  <div class="form-group">
    <label for="variant">Variant of Whiskey</label>
    <input type="text" class="form-control" id="variant" placeholder="e.g. In Glenmorangie Pride 1974, type 'Pride 1974'">
  </div>
  <div class="form-group">
    <label for="age">Age of Whiskey</label>
    <input type="number" class="form-control" id="age" placeholder="age of whiskey e.g. 20">
  </div>
  <div class="form-group">
    <label for="abv">Percentage Alcohol</label>
    <input type="number" class="form-control" id="abv" placeholder="ABV Value e.g. 40">
  </div>
  <div class="form-group">
    <label for="price">Price per Bottle</label>
    <input type="number" class="form-control" id="price" placeholder="price e.g 60.55">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
