button {
  &.edit-btn {
    margin-bottom: 10px;
    a {
    color: #fff;
    }
  }
}

.delete-btn {
  margin-bottom: 30px;
}

.btn {

    border: 0 none;
}

.btn-success {
  background: #83C1FF;
}

.btn-primary {
  background: #343A40;
}

.btn-info {
  background: #343A40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #343A40;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background: #A61215;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: #83C1FF;
}
