button {
  &.edit-btn {
    margin-bottom: 10px;
    a {
    color: $head-color;
    }
  }
}

.delete-btn {
  margin-bottom: 30px;
}

.btn {
    border: 0 none;
}

.btn-success {
  background: $blue-btn;
}

.btn-primary {
  background: $grey-btn;
}

.btn-info {
  background: $grey-btn;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $grey-btn;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background: #A61215;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: $blue-btn;
}
