//Show all whiskeys
.container {
  .row {
    .card-deck {
      .card {
        min-width: 250px;
        height: calc(100% - 10px);
        margin-bottom: 10px;
        padding: 5px;
        .card-body {
          display: flex;
          flex-direction: column;
          h5 {
            font-size: 15px;
          }
          h6 {
            font-size: 12px;
          }
          p {
            margin-top: auto;
          }
        }
      }
    }
  }
}
