.btl-img {
  width: 200px;
  height: 300px;
}

p {
  span {
    &.show-whiskey-info {
      font-weight: 1000;
    }
  }
}

form {
  button{
    &.add-fav-btn {
      margin-bottom: 10px;
    }
  }
  textarea {
    &#content {
      max-width: 500px;
    }
  }
}

.show-page {
  width: 150px;
}

.comment-block {
  .posted-comments {
    display: block;
    width: 50vw;
    margin: 0 auto;
    .individ-comment {
      border-bottom: 1px solid $tertiary-color;
      border-top: 1px solid $tertiary-color;
      margin: 0;
      small {
        font-style: italic;
        font-weight: bold;
        color: $secondary-color;
      }
      form {
        margin: 15px 0;
      }
    }
  }
}
