@import "variables";
@import "whiskeys-index";
@import "profile";
@import "jumbotron";
@import "statics-index";
@import "whiskeys-edit";
@import "footer";
@import "buttons";
@import "whiskey-show";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.content {
  flex: 1 0 auto;
}
