@import "variables";

body {
  font-family: 'Kavivanar', cursive;
  text-align: center;
}

.btl-img {
  width: 200px;
  height: 300px;
}

.jumbotron {
  background-image: url('../assets/whiskeywall.jpg');
  background-position: center;
  background-size: cover;
  color: $head-color;
}

button {
  &.edit-btn {
    margin-bottom: 10px;
    a {
    color: #fff;
    }
  }
}

.delete-btn {
  margin-bottom: 30px;
}

.container {
  .row {
    h2 {
      a {
        text-decoration: none;
        color: #D98302;
        &:hover {
          color: #FFC965
        }
      }
    }
    h4 {
      a {
        color: #707070;
        text-decoration: none;
        &:hover {
          color: #D98302;
        }
      }
    }
  }
}

footer {
  .footer-override {
    background-color: rgb(57,61,65);
    color: white;
    margin-top: 30px;
    margin-botton: 3px;
    width: 100vw;
    padding-top: 1%;
    .row {
      .footer-left {
          h4 {
            padding-top: 10px;
            a {
              color: #fff;
            }
          }
          p {
            color: #707070;
          }
      }
      .footer-right {
        ul {
          padding-top: 10px;
          li {
              text-decoration: none;
              display: inline;
              margin: 10px 15px;
              font-size: 15px;
              a {
                color: rgb(147,155,158);
                &:hover{
                  color: #fff;
                  text-decoration: none;
                }
              }
          }
        }
      }
    }
  }
}
